
.timer{
    color:hsl(345, 95%, 68%);
    background: hsl(236, 21%, 26%);
    font-size: 50px;
    padding: 10px;
    min-width:110px;
    border-radius: 5px;
    box-shadow:0 8px 6px -6px  hsl(236, 21%, 26%);
}

.headingsOfTimer{
    font-size: 7px !important;
    letter-spacing: 2px !important;
     color: hsl(237, 18%, 59%);
}
.centered{
    position: absolute; /* or absolute */
    top: 30%;
    left: 34%;
}


